<!DOCTYPE html>
<html lang="fr">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <!--<h3><%= page %></h3><br>-->
  <div class="row head-title">
    <div class="col-sm-12">
        <h1> Which type of data do you own? </h1>
    </div>
  </div>
  <div class="row datapath">
    
    <div class="col-sm-3">
        <div class="card" style="width: 100%;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h2 class="card-title"> Pictures </h2>
                <p class="card-text"> I hold some pictures </p>
                <a href="/form" class="btn btn-primary"> Take me to next step </a>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="card" style="width: 100%;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h2 class="card-title"> Data </h2>
                <p class="card-text"> I holde some data </p>
                <a href="#" class="btn btn-primary"> Take me to next step </a>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="card" style="width: 100%;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h2 class="card-title"> CSV file </h2>
                <p class="card-text"> I hold a csv file </p>
                <a href="#" class="btn btn-primary"> Take me to next step </a>
            </div>
        </div>
    </div>
    
  </div>
</div>

<% include partials/footer %>

</body>

<% include partials/script %>